.page.profile{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 1rem
}

.top-profile{
    display: flex;
    flex-direction: row;
}

.container-profile{
    margin-left: 2vw;
    margin-right: 0;
}

.profile-info{
    width: 75%;
    display: flex;
    justify-content: space-between;
    gap: 10vw;
    align-items: center;
}

.nick-pic, .following, .followers, .recipes{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.nickname{
    font-weight: bold;
}

.interactive{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 2vw;
    gap: 1rem;
    
}

@media(orientation: portrait){
    .top-profile > *{
        font-size: .9rem;
    }
    
    .container-profile{
        margin-left: 2vw;
        padding-left: 0;
        padding-right: 0;
    }
    
    .profile-info{
        gap: 2vw;
    }
    
    .nick-pic, .following, .followers, .recipes{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    .interactive{
        flex-direction: column;
        right: 1vw;
    }
    
    .settings{
        order: 2;
    }

}