:root {
    --custom-navbar-color-rgb: 16, 16, 214;
    --navbar-color: rgba(var(--custom-navbar-color-rgb), 0.7);
    --selected-color: rgba(var(--custom-navbar-color-rgb), 1);
    --text-color: white;
    --brand-color: white;
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.mb-2 {
    margin-bottom: 0 !important;
}

.navbar-custom{
    background-color: var(--navbar-color);
}

/* Brand text settings */
.navbar-brand{
    margin-right: 10vw;
    color: var(--brand-color);
}

.navbar-brand:hover{
    color: var(--brand-color);
}

.navbar-brand-font{
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

div#navbarToggler{
    margin-right: 5%;
}

ul.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

li.nav-item > a{
    color: var(--text-color);
}

li.nav-item{
    padding: 1vh 1vh;
    z-index: 1;
}

/* li.active {
    background-color: var(--selected-color);
    border-radius: 10px;
} */

.moving-bg{
    position:absolute;
    background-color: var(--selected-color);;
    border-radius: 10px;
    transition: all 0.5s ease;
    z-index: 0;
}

@media(max-width: 800px) {
    .navbar-custom .nav-item a {
        font-size: 0;
    }
    .navbar-custom .nav-item i{
        font-size: initial;
    }

    .navbar-custom li{
        /* padding-top: 1.5vh; */
        /* padding-left: 1.5vh;
        padding-right: 1.5vh; */
        padding: 2vh;
    }
}

