{% extends "base.html" %}

{% load static %}

{% block head %}
    <!-- #region css import -->
        <!-- #region Logo font -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap" rel="stylesheet">
        <!-- #endregion -->
        
            <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />  <!-- style select2  -->
            
        <!-- #region custom css -->
            <link rel="stylesheet" href="{% static 'css/style_navbar.css' %}">              <!-- style navbar -->
            
            <link rel="stylesheet" href="{% static 'css/style_recipe_page.css' %}">
            
            {% if user.is_authenticated %}
                <link rel="stylesheet" href="{% static 'recipe/css/style_new_recipe.css' %}">   <!-- style new recipe page -->
            {% endif %}

            <link rel="stylesheet" href="{% static 'css/style_profile_page.css' %}">        <!-- style profile page -->
            <link rel="stylesheet" href="{% static 'css/style_settings_page.css' %}">       <!-- style settings -->

            <link rel="stylesheet" href="{% static 'recipe/css/style_card.css' %}">         <!-- stylr recipe card -->
        <!-- #endregion -->
    <!-- #endregion -->
    
    <!-- #region js import -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script> <!-- script select2 -->
        
        <!-- #region custom js -->
            <script src="{% static 'js/script_navbar.js' %}"></script>              <!-- script navbar -->
            <script src="{% static 'js/script_change_page.js' %}"></script>         <!-- script change page -->
            
            <script src="{% static 'js/script_recipe_page.js' %}"></script>         <!-- script show srecipe -->

            {% if user.is_authenticated %}
                <script src="{% static 'recipe/js/script_new_recipe.js' %}"></script>   <!-- script new recipe page -->
            {% endif %}

            <script src="{% static 'js/script_profile_page.js' %}"></script>        <!-- script profile page -->
            <script src="{% static 'js/script_settings_page.js' %}"></script>       <!-- script settings -->
            
            <script src="{% static 'recipe/js/script_card.js' %}"></script>       <!-- script recipe card -->
        <!-- #endregion -->
    <!-- #endregion -->

{% endblock head %}

{% block title %} Cook & Share {% endblock title %} 

{% block content %}
    {% include "navbar/navbar.html" %}

    {% block home_page %}
        {% include "recipe/test_recipe_homepage.html" %}
    {% endblock home_page %}
    
    {% block trending_page %}{% endblock trending_page %}
    
    {% block last_page %}{% endblock last_page %}
    
    {% if user.is_authenticated %}
        {% block saved_page %}{% endblock saved_page %}
    
        {% block new_recipe_page %}
            {% include "recipe/new_recipe/new_recipe.html" %}
        {% endblock new_recipe_page %}
    {% endif %}

    {% block profile_page %}
        {% include "./profile-page/profile.html" %}
    {% endblock profile_page %}
    
{% endblock content %}