{% extends "base.html" %}

{% load static %}

{% block style %}
    <!-- #region css import -->        
            <link rel="preload" as="style" onload="this.rel='stylesheet'" href="{% static 'recipe/css/select2.min.css' %}"/>  <!-- style select2  -->
            
        <!-- #region custom css -->                        
            {% if user.is_authenticated %}
                <link rel="preload" as="style" onload="this.rel='stylesheet'" href="{% static 'recipe/css/style_new_recipe.css' %}">   <!-- style new recipe page -->
            {% endif %}

            <link rel="preload" as="style" onload="this.rel='stylesheet'" href="{% static 'user/css/style_page.css' %}">        <!-- style profile page -->
            <link rel="preload" as="style" onload="this.rel='stylesheet'" href="{% static 'user/css/style_settings_page.css' %}">       <!-- style settings -->

            <link rel="preload" as="style" onload="this.rel='stylesheet'" href="{% static 'recipe/css/style_card.css' %}">         <!-- stylr recipe card -->
        <!-- #endregion -->
    <!-- #endregion -->
{% endblock style %}

{% block important_script %}
    <script src="{% static 'recipe/js/select2.min.js' %}"></script> <!-- script select2 -->
{% endblock important_script %}

{% block script %}
    <!-- #region js import -->        
        <!-- #region custom js -->            

            {% if user.is_authenticated %}
                <script async src="{% static 'recipe/js/script_new_recipe.js' %}"></script>     <!-- script new recipe page -->
            {% endif %}
        <!-- #endregion -->
    <!-- #endregion -->
{% endblock script%}

{% block title %} Cook & Share {% endblock title %} 

{% block content %}
    {% block home_page %}
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                loadPage(1,
                    {% if user.is_authenticated %}
                        'home'
                    {% else %}
                        'trending'
                    {% endif %}
                    , "home");
            });
        </script>
        
        <div 
            class="home page container" 
            id="home-page" 
            style="display: none;"
        >
            <div class="container-recipes-home container mt-3 mb-5"></div>
            
            <div id="pagination-container-home"></div>
        </div>
    {% endblock home_page %}
    
    {% block trending_page %}
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                loadPage(1, 'trending', "trending");
            });
        </script>
        
        <div 
            class="trending page container" 
            id="trending-page" 
            style="display: none;"
        >
            <div class="container-recipes-trending container mt-3 mb-5"></div>
            
            <div id="pagination-container-trending"></div>
        </div>
    {% endblock trending_page %}
    
    {% block last_page %}
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                loadPage(1, 'last', "last");
            });
        </script>
        
        <div 
            class="last page container" 
            id="last-page" 
            style="display: none;"
        >
            <div class="container-recipes-last container mt-3 mb-5"></div>
            
            <div id="pagination-container-last"></div>
        </div>
    {% endblock last_page %}
    
    {% block search_page %}
        <div 
            class="search page" 
            id="search-page" 
            style="display: none;"
        >
            {% include "search/search.html" with all=True %}
        </div>
    {% endblock search_page %}
    
    {% if user.is_authenticated %}
        {% block new_recipe_page %}
            {% include "recipe/new_recipe/new_recipe.html" %}
        {% endblock new_recipe_page %}
    {% endif %}
    
    {% block profile_page %}
        {% if user.is_authenticated %}
            <div 
                class="page profile" 
                id="profile-page" 
                style="display: none;"
            >
                {% include "user/user_page.html" with all=True %}
            </div>
        {% else %}
            {% include "./login-signup.html" %}
        {% endif %}
    {% endblock profile_page %}
    
{% endblock content %}