{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const checkUsernameUrl = "{% url 'check_nickname' %}";
        const checkEmailUrl = "{% url 'check_email' %}";
    </script>
    <script src="{% static 'user/js/check.js' %}"></script>
{% endblock head %}

{% block title %} Cook & Share | Sign Up {% endblock title %} 

{% block content %}
    <div class="container mt-3">
        <h2>Sign Up</h2>
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    
    
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
{% endblock content %}