.page.profile{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 1rem
}

.top-profile{
    display: flex;
    flex-direction: row;
}

.container-profile{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    max-width: 100%;
}

[class$="-number"]{
    font-weight: 500;
    font-size: 1.3em;
    margin-top: .1em;
}

.profile-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10vw;
    align-items: start;
    width: 70vw;
    min-width: none;
    margin-left: 2vw;
}

.nickname{
    font-weight: bold;
    margin-left: 2vw;
}

.profile-item{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.profile-pic{
    width: 5.5em;
    height: 5.5em;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1vh;
}

.food-critic-icon{
    color: var(--navbar-color) !important;
    margin-left: .5vw;
}

.interactive{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 2vw;
    gap: 1rem;
}

.settings-div{
    width: 98vw;
    height: auto;
    position: absolute;
    top: 15vh;
    right: -99vw;
    transform: translateX(99vw);
    transition: transform 0.8s ease;
}

.settings-div.show{
    transform: translateX(-100vw);
}

#settings-page{
    margin: 1.5rem auto !important;
}

@media(orientation: portrait){
    
    .top-profile > *{
        font-size: .9rem;
    }
    
    .container-profile{
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        align-items: start;
    }
    
    .profile-info{
        gap: 3vw;
    }
    
    .interactive{
        flex-direction: column;
        right: 1vw;
    }
    
    .settings-show{
        order: 2;
    }
}
