#home-page.home.page{
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}

div.container-recipes{
    max-width: 95vw !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: stretch;
    gap: 1rem;
}

div.card{
    min-width: 20rem;
    max-width: 25rem;
}

#pagination-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
}