:root {
    --custom-navbar-color-rgb: 16, 16, 214;
    --navbar-color: rgba(var(--custom-navbar-color-rgb), 0.7);
    --selected-color: rgba(var(--custom-navbar-color-rgb), 1);
    --text-color: white;
    --brand-color: white;
    color: #1010d6b3
}

.navbar-nav.mb-2 {
    margin-bottom: 0 !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-custom{
    z-index: 1;
    background-color: var(--navbar-color);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.navbar-brand, .navbar-brand:hover{
    /* margin-right: 20vw; */
    color: var(--brand-color);
    
}

.navbar-brand-font{
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.navbar-collapse{
    margin: 0;
    max-width: 80vw;
}

/* colore elementi navbar */
.navbar-nav .nav-link{
    color: var(--text-color) !important;
}

/* colore elemento navbar selezionato */
.navbar-nav .nav-link.active{
    color: white !important;
}


li.nav-item{
    padding: 8px;
    z-index: 4;
    display: flex;
    justify-content: center; 
    align-items: center; 
}


.moving-bg{
    position: fixed;
    background-color: rgba(var(--custom-navbar-color-rgb), 0.8);
    filter: blur(1px);
    border-radius: 10px;
    transition: all 0.5s ease;
    z-index: 2;
    /* border: 1px solid rgb(17, 17, 107); */
}

img.profile_pic_navbar{
    width: 1.5em;
    height: 1.5em;
    object-fit: cover;
    border-radius: 50%;
}

.container-fluid{
    height: 58px;
}

@media(orientation: portrait) {
    .navbar-custom .nav-item a {
        font-size: 0;
    }

    .nav-item{
        width: 3.5rem;
        height: 3.5rem;
    }
    
    .nav-item i, .nav-item img{
        font-size: initial;
    }
    
    .navbar-brand{
        display: none;
    }
    
    .navbar-collapse{
        max-width: 100vw;
    }
    
    .container-fluid{
        --margin-value: 5vw; 
        
        margin-left: var(--margin-value);
        margin-right: var(--margin-value);
        
        padding: 0;
    }
}

.top-page-space{
    height: 5rem;
    padding: 0.5rem 0;
}